intent: elasticsearch
flavor: k8s
version: "0.1"
description: Adds elasticsearch k8s module
clouds:
  - aws
  - azure
  - gcp
  - kubernetes
inputs:
  kubernetes_details:
    optional: false
    type: "@outputs/kubernetes"
    default:
      resource_type: kubernetes_cluster
      resource_name: default
    providers:
      - kubernetes
      - kubernetes-alpha
      - helm
spec:
  title: K8s elasticsearch
  type: object
  properties:
    elasticsearch_version:
      type: string
      title: Elasticsearch Version
      description: Version of Elasticsearch
      minLength: 1
      enum:
        - 8.14.1
        - 7.16.3
        - 6.4.3
        - 5.6.12
    size:
      type: object
      title: Size
      description: Datastore Sizing
      properties:
        cpu:
          type: string
          title: CPU
          description: Number of CPU cores required
          minLength: 1
          pattern: "^[0-9]+[m]?$"
          x-ui-compare:
            field: spec.size.cpu_limit
            comparator: "<="
            x-ui-error-message: "CPU cannot be more than CPU limit"
          x-ui-placeholder: "Enter CPU cores"
          x-ui-error-message: "Value doesn't match '^[0-9]+[m]?$' pattern"
        memory:
          type: string
          title: Memory
          description: Amount of required memory
          minLength: 1
          pattern: "^[0-9]+(\\.[0-9]+)?[EiKMGTP]i?$"
          x-ui-compare:
            field: spec.size.memory_limit
            comparator: "<="
            x-ui-error-message: "Memory cannot be more than memory limit"
          x-ui-placeholder: "Enter memory (Ex. 2Gi)"
          x-ui-error-message: "Value doesn't match '^[0-9]+(\\.[0-9]+)?[EiKMGTP]i?' pattern"
        cpu_limit:
          type: string
          title: CPU Limit
          description: CPU limit for the instance
          minLength: 1
          pattern: "^[0-9]+[m]?$"
          x-ui-compare:
            field: spec.size.cpu
            comparator: ">="
            x-ui-error-message: "CPU limit cannot be less than CPU"
          x-ui-placeholder: "Enter CPU limit"
          x-ui-error-message: "Value doesn't match '^[0-9]+[m]?$' pattern"
        memory_limit:
          type: string
          title: Memory Limit
          description: Memory limit for the instance
          minLength: 1
          pattern: "^[0-9]+(\\.[0-9]+)?[EiKMGTP]i?$"
          x-ui-compare:
            field: spec.size.memory
            comparator: ">="
            x-ui-error-message: "Memory limit cannot be less than memory"
          x-ui-placeholder: "Enter memory limit"
          x-ui-error-message: "Value doesn't match '^[0-9]+(\\.[0-9]+)?[EiKMGTP]i?' pattern"
        volume:
          type: string
          title: Volume
          description: Size of the volume
          pattern: "^[0-9]+[EiKMGTP]i?$"
          x-ui-placeholder: "Enter volume size"
          x-ui-error-message: "Value doesn't match '^[0-9]+[EiKMGTP]i?$' pattern"
        instance_count:
          type: integer
          title: Instance Count
          description: Number of instances to create
          minimum: 1
          maximum: 100
          x-ui-placeholder: "Enter instance count"
      required:
        - cpu
        - memory
        - volume
        - instance_count
  required:
    - size
    - elasticsearch_version
  x-ui-order:
    - elasticsearch_version
    - size
sample:
  $schema: "https://facets-cloud.github.io/facets-schemas/schemas/elasticsearch/elasticsearch.schema.json"
  version: "0.1"
  flavor: k8s
  kind: elasticsearch
  metadata: {}
  spec:
    elasticsearch_version: "8.14.1"
    size:
      cpu: 2
      memory: 2Gi
      cpu_limit: 2
      memory_limit: 2Gi
      volume: 8Gi
      instance_count: 1
  disabled: true
